$logoTextColor: #0c36a9;
$textColor: #000;
$textAccentColor: #fff;
$accentColor: #6083e5;
$accentColor2: #3d68de;

$fontFamily: 'Roboto', sans-serif;

$headerWidth: 80%;
$headerMargin: 0 auto;

$buttonMinWidth: 60px;
$buttonBG: #ffd901;
$buttonPadding: 6px;
$buttonMargin: 5px 0;
$buttonBorder: none;
$buttonShadow: solid 2px rgba(0, 0, 0, 0.3);
$buttonHighlight: solid 2px rgba(255, 255, 255, 0.3);
$buttonFocusText: #fff;

$inputPadding: 6px;

$logoContWidth: 50%;
$logoTextSize: 3em;
$logoTextMargin: 0 50px 0 0;
$logoImgSize: 60px;

$loginLogoutContMargin: 0 50px;

$messageBoxPadding: 10px;
$messageBoxBorder: solid 1px;
$messageBoxWidth: 360px;


.hidden {
	display: none;
}

body {
	margin: 0;
	font-family: $fontFamily;
}

/*** Header ***/
header {
	width: $headerWidth;
	margin: $headerMargin;
}

.logo-container {
	display: inline-block;
	width: $logoContWidth;
}

.logo-text {
	display: inline-block;
	color: $logoTextColor;
	font-size: $logoTextSize;
	margin: $logoTextMargin;
}

.logo-img {
	width: $logoImgSize;
	vertical-align: middle;
}

.login-logout-container {
	display: inline-block;
	margin: $loginLogoutContMargin;
}

.logged-in button {
	margin: 10px;
}

/*** Nav, Footer ***/
nav, footer {
	color: $textAccentColor;
	background: $logoTextColor;
	min-height: 20px;
	padding: 10px;
}

nav span {
	padding-right: 20px;
}

footer {
	text-align: right;
}

footer a {
	color: $textAccentColor;
}

/*** Main Area ***/
main {
	padding: 30px;
}

.message-box {
	color: $accentColor2;
	padding: $messageBoxPadding;
	border: $messageBoxBorder;
	width: $messageBoxWidth;
}

.rotating-foods {
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border: solid 1px;
	min-width: 80px;
}

.freezer-contents {
	width: 50%;
}

.delete-item {
	cursor: pointer;
}

/*** Form Elements ***/
button {
	min-width: $buttonMinWidth;
	color: $textColor;
	background: $buttonBG;
	margin: $buttonMargin;
	padding: $buttonPadding;
	border-right: $buttonShadow;
	border-bottom: $buttonShadow;
	border-top: $buttonHighlight;
	border-left: $buttonHighlight;
	box-shadow: none;

	transition-property: background-color;
	transition-duration: 0.3s;
}

button:active {
	box-shadow: none;
	border-right: $buttonHighlight;
	border-bottom: $buttonHighlight;
	border-top: $buttonShadow;
	border-left: $buttonShadow;
}

button:focus {
	color: $buttonFocusText;
	background: $accentColor;

	transition-property: background-color;
	transition-duration: 0.3s;
}

button:focus, input:focus {
	outline: none;
}

input {
	padding: $inputPadding;
}

input:focus {
	border: solid 2px $accentColor;
}

/*** Responsive ***/
@media (max-width: 1020px) {
	header {
		width: 100%;
	}
}

@media (max-width: 820px) {
	.logo-container, .login-logout-container {
		display: block;
	}

	.logo-container {
		text-align: center;
		width: 100%;
	}

	.freezer-contents {
		width: 70%;
	}
}

@media (max-width: 650px) {
	.freezer-contents {
		width: auto;
	}
}

@media (max-width: 430px) {
	.message-box {
		width: auto;
	}

	.logo-text {
		font-size: 2.5em;
	}
}

@media (max-width: 380px) {
	.logo-text {
		margin: 0;
	}

	.login-logout-container {
		margin: 0 10px;
	}

	main {
		padding: 20px;
	}
}